---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Base Unit
$base-unit: 8px;

// Typography
$base-font-family:      -apple-system, BlinkMacSystemFont,
                        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
                        "Helvetica Neue", sans-serif;
$base-font-size:        $base-unit * 2;
$base-font-weight:      400;
$small-font-size:       $base-font-size * 0.75;
$base-line-height:      1.5;

// Spacing
$spacing-unit:          $base-unit * 5;

// Colours
$text-color:            #848484;
$background-color:      #FFF;
$brand-color:           #6CACC7;
$brand-color--light:    lighten($brand-color, 15%);
$brand-color--dark:     darken($brand-color, 15%);

$black-color:           #272727;
$white-color:           #FFF;
$grey-color:            #F4F4F4;
$grey-color--light:     lighten($grey-color, 15%);
$grey-color--dark:      darken($grey-color, 70%);

// Grid Variables
$max-width:             1280px;
$max-width--mobile:     380px;
$max-columns:           16;
$max-columns--mobile:   8;
$gutter:                1.25%;



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "functions",
        "grid",
        "base",
        "typography",
        "main",
        "syntax-highlighting"
;
