<header class="site-header">

    <div class="row">

        <div class="column column--size-4 column--offset-3">
            <a class="h4 a--black" href="{{ site.baseurl }}/">{{ site.title }}</a>
            <p>{{ site.description }}</p>
            <ul class="site-header__social">
                <li class="site-header__social-item">
                    <a href="https://www.twitter.com/_stanleylai" target="_blank">
                        <img src="{{ site.url }}/images/icons/twitter.svg" width="20" height="20">
                    </a>
                </li>
                <li class="site-header__social-item">
                    <a href="https://www.instagram.com/stanleylaisg" target="_blank">
                        <img src="{{ site.url }}/images/icons/instagram.svg" width="20" height="20">
                    </a>
                </li>
                <li class="site-header__social-item">
                    <a href="https://ca.linkedin.com/in/stanleylai" target="_blank">
                        <img src="{{ site.url }}/images/icons/linkedin.svg" width="20" height="20">
                    </a>
                </li>
                <li class="site-header__social-item">
                    <a href="https://github.com/stanleylai" target="_blank">
                        <img src="{{ site.url }}/images/icons/github.svg" width="20" height="20">
                    </a>
                </li>
                <li class="site-header__social-item">
                    <a href="https://www.youtube.com/watch?v=0E96CfPLkPU" target="_blank">
                        <img src="{{ site.url }}/images/icons/rebel.svg" width="20" height="20">
                    </a
                </li>
            </ul>
        </div>

        <div class="column column--size-3 column--offset-1">
            <span class="h4">Available for Projects.</span>
            <br>
            <a href="mailto:stanleylai.sg@gmail.com">Let's Talk.</a>
        </div>

    </div>

</header>
