//
// Responsive Grid Styles
//

// Calculate the precentage width that c columns would occupy, including internal gutters
@function columnsWidth($c) {
    // $sizeOfGutters: $gutter * ($c - 1);
    // $sizeOfContentArea: ((100% - ($gutter * ($max-columns + 1))) / $max-columns) * $c;
    // @return $sizeOfContentArea + $sizeOfGutters;

    // Simplied version of the above equations
    @return $c * (100% - $gutter) * (1 / $max-columns) - $gutter;
}

// Row
// Wrapper for columns
.row {
    display: flex;

    width: 100%;
    max-width: $max-width;
    // margin: 0 auto;

    // DEBUG
    margin: 20px auto;
}

// Column
// Base styles for columns
.column {
    flex: 1 1;
    margin-left: $gutter;

    // DEBUG
    outline: 1px solid red;

    // Add outside gutter for last column
    &:last-child {
        margin-right: $gutter;
    }
}

// Column Size
// Expand .column to occupy specific number of columns
@for $i from 1 through $max-columns {
    .column__size-#{$i} {
        flex: 0 0;
        flex-basis: columnsWidth($i);
    }
}

// Column Offset
// Push .column to the right by specified number of columns
@for $i from 1 through $max-columns {
    .column__offset-#{$i} {
        margin-left: $gutter * 2 + columnsWidth($i); // Gutter width multiplied by two to account for offset's and this column's gutter
    }
}
