// Main Styles
// =============================================================================

// Site Header Styles
// =============================================================================
.site-header {
    p {
        margin: 0;
    }
}

// Header Social Icons
.site-header__social {
    margin-top: $spacing-unit;
    padding: 0;
}

.site-header__social-item {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;

    list-style: none;

    opacity: 0.25;

    &:hover {
        opacity: 0.85;
    }
}

// Navigation
// =============================================================================
.nav {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.nav__link {
    display: inline-block;

    margin-right: 1em;

    list-style: none;
}

// Link is current page
.nav__link--current {
    @include fancyUnderlines();
}

// Selected Work Styles
// =============================================================================
.site-work {
    h4 {
        margin: 0;
    }

    h5 {
        margin: 0;
    }

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}
